name: CI
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        go: [1.15.x]

    name: Test with Go ${{ matrix.go }}
    runs-on: ubuntu-18.04

    steps:
    - name: Set up Go ${{ matrix.go }}
      uses: actions/setup-go@v3.0.0
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Check out code
      uses: actions/checkout@v1

    - name: Download dependencies
      run: go get -t ./...

    - name: Install
      run: go install -v ./...

    - name: Test
      run: go test -v -coverprofile=cover.out -covermode=count ./...

    - name: Upload coverage report
      run: curl -s https://codecov.io/bash | bash -s -- -X fix
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
