---
name: CI
on:
  schedule:
    - cron: "0 12 * * 0"
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        go-version:
          - 1.15.x
        os: [ubuntu-20.04]
        may-fail: [false]
        include:
          - go-version: tip
            os: ubuntu-20.04
            may-fail: true

    continue-on-error: ${{ matrix.may-fail }}
    runs-on: ${{ matrix.os }}

    # env:
    #   GOCACHE: ~/go/cache/build
    #   GOMODCACHE: ~/go/cache/mod
    #   GOLANGCI_LINT_CACHE: ~/go/cache/lint

    steps:
      - name: Set up Go release
        if: matrix.go-version != 'tip'
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Set up Go tip
        if: matrix.go-version == 'tip'
        run: |
          git clone --depth=1 https://go.googlesource.com/go $HOME/gotip
          cd $HOME/gotip/src
          ./make.bash
          echo "GOROOT=$HOME/gotip" >> $GITHUB_ENV
          echo "$HOME/gotip/bin" >> $GITHUB_PATH

      - name: Set GO_VERSION environment variable
        run: |
          go version
          echo "GO_VERSION=$(go version)" >> $GITHUB_ENV

      - name: Check out code
        uses: actions/checkout@v2

      - run: |
          env
          go env

      - name: Enable Go cache
        uses: actions/cache@v2
        with:
          path: ~/go/cache
          key: ${{ matrix.os }}-go-${{ matrix.go-version }}

      - name: Install
        run: go install -v ./...

      - name: Test
        run: go test -v -coverprofile=cover.out -covermode=count ./...

      - name: Upload coverage report
        run: curl -s https://codecov.io/bash | bash -s -- -X fix
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
